body {
    background-color: #010101;
    color: white; /* Optional: change text color to ensure it's readable */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-image {
    margin-top: 10px; /* Adjust the top margin as needed */
    width: auto; /* Adjust the width as needed */
    max-width: 100%; /* Ensure the image doesn't overflow */
}
